name: Benchmark

permissions:
  contents: read

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      ref:
        description: "The commit or branch to benchmark"
        required: true
        type: string
  merge_group:
    branches:
      - main

# Make sure only a single benchmark job runs at a time for the main branch to prevent conflicts when
# pushing the benchmark data.
concurrency:
  group: "benchmarking-${{inputs.ref}}"
  cancel-in-progress: false

jobs:
  bench:
    name: "Benchmark ${{ matrix.name }}"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        include:
          - name: linux-x86
            os: [benchmark, X64]
            target: "x86_64-unknown-linux-gnu"
          - name: macos-arm64
            os: [benchmark, ARM64, macOS]
            target: "aarch64-apple-darwin"
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
          ref: "${{inputs.ref}}"
          fetch-depth: 0 # ensure the base commit to compare against is available
      - name: cargo build
        env:
          RUSTFLAGS: "-Cllvm-args=-enable-dfa-jump-thread"
          RUST_BACKTRACE: 1
        run: |
          . "$HOME/.cargo/env"
          cargo --version
          cargo build --target ${{matrix.target}} -p test-libzstd-rs-sys --release --examples
          cp target/${{matrix.target}}/release/examples/decompress .
      - name: Benchmark
        uses: trifectatechfoundation/benchmarker-action@main
        with:
          deploy-key: "${{ secrets.BENCH_DATA_DEPLOY_KEY }}"
          bench-repo: "git@github.com:trifectatechfoundation/libzstd-rs-sys-bench.git"
          metric-key: "${{ matrix.name }}"
          benchmarks: "benchmarks.json"
